<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Over mij</h2>
                    <h3 class="section-subheading text-muted">Oké, dus je wilt info over mij? Nieuwsgierig zeg, maar vooruit…omdat jij het bent.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/about1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Een tijdje geleden</h4>
                                    <h4 class="subheading">Maar niet zó lang geleden</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Geboren op Curaçao, opgegroeid in Suriname en op mijn 14de naar Nederland gekomen.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/about2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2002</h4>
                                    <h4 class="subheading">Afgestudeerd</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">In 2002 ben ik afgestudeerd aan de acteursopleiding in Utrecht (HKU). Ik heb gespeeld in verschillende theatervoorstellingen. Daarnaast heb ik mijzelf ook ontwikkelt als theatermaker.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/about3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2009</h4>
                                    <h4 class="subheading">Leids Cabaret Festival</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">In 2009 heb ik meegedaan aan het Leids Cabaret Festival, dus ik probeer ook nog grappig te zijn.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/about4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2012</h4>
                                    <h4 class="subheading">Televisie en film</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">In 2012 heb ik mijn werkterrein verlegd naar televisie. Benieuwd? Ik ben te zien in onder andere de films Bro's before Ho's en Dummie de Mummie Deel 2. Ook was ik te zien in de televisieserie Celblok H. Ik speelde hierin de rol van Boomer.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/about5.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Privé</h4>
                                    <h4 class="subheading">Vechtsport</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Naast theater is vechtsport mijn grote liefde. Gelukkig kan ik dit goed combineren met theater. Ik geef workshops in stagefight, en zo nu en dan mag ik voor een voorstelling een gevecht choreograferen.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>&nbsp;</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>