<!-- Workshops Section -->
    <section id="workshops" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Workshops</h2>
                    <h4 class="section-subheading">Stagefight • Drama • Comedy • Zelfverdediging</h4>
                </div>
            </div>
            <div class="row">
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-4">
                            <div class="team-member">
                                <img src="img/workshops/stage_fight_1.jpg" class="img-responsive" alt="">
                            </div>
                    </div>
                    <div class="col-sm-4">
                            <div class="team-member">
                                <img src="img/workshops/stage_fight_2.jpg" class="img-responsive" alt="">
                            </div>
                    </div>
                    <div class="col-sm-2">
                        </div>
                </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center"><p class="large text-muted">
                    Naast mijn werk als acteur en vechtsportdocent, geef ik ook workshops. Ik word vaak ingehuurd door theatergroepen om workshops te geven, als educatie bij een voorstelling. Ook word ik ingehuurd door scholen en particulieren.
                    
                    Stagefight is eigenlijk nepvechten, waarbij je probeert om het er zo echt 
                    mogelijk uit te laten zien. Dus hoe kan je een spannend en flitsend gevecht 
                    laten zien op het toneel of op beeld zonder dat de acteurs tanden verliezen. 
                    Daar zijn allemaal technieken voor. De stagefight workshops die ik heb 
                    gegeven werden heel enthousiast ontvangen door de scholen omdat het zowel 
                    voor meisjes en jongens heel leuk is om te doen. De jongeren kunnen op een 
                    creatieve manier hun agressie kwijt en hun fantasie erop los laten.
                    
                    Ben je geïnteresseerd, stuur mij dan een e-mail.</p>
                </div>
            </div>
        </div>
    </section>